<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="min-h-screen w-screen m-0 p-0 bg-gray-100 flex items-center justify-center">

    <div class="flex flex-col items-center justify-center w-full h-full">
        <label for="username" class="mb-2 text-lg font-medium text-gray-700">Nombre de usuario</label>
        <input type="text" id="username" name="username"
            class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Ingresa tu nombre de usuario" required />
        <button type="submit"
            class="mt-4 px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Enviar
        </button>
    </div>


</body>

</html>